<section id="sectionProyectos" class="seccion-proyectos">
    <div class="contenedor-proyectos tarjeta-fondo">
        <h2 class="titulo-seccion">Mis Proyectos</h2>
        
        <div class="slider-container">
            <div class="slide-wrapper">
                <div class="slide-item" style="background-image: url('/assets/img/Agenda_Java.png')">
                    <div class="slide-content">
                        <h3 class="nombre-slide">Agenda de Contactos</h3>
                        <p class="des">CRUD de una agenda de contacos</p>
                        <p class="des">Tecnologías Java | Java Swing | Git | GitHub</p>
                        <a href="https://github.com/Liw1030/Hackathon-Back">Ver repositorio</a>
                    </div>
                </div>
                <div class="slide-item" style="background-image: url('/assets/img/Poke\ Radar.png')">
                    <div class="slide-content">
                        <h3 class="nombre-slide">PokeRadar</h3>
                        <p class="des">Api de Pokemon, función agregar a favoritos y mini juego.</p>
                        <p class="des">Tegnologías JavaScript | Bootstrap | LocalStorage | CSS y HTML</p>
                        <a href="https://github.com/Liw1030/PokeRadar">Ver repositorio</a>
                    </div>
                </div>
                <div class="slide-item" style="background-image: url('/assets/img/Ecommerse.png')">
                    <div class="slide-content">
                        <h3 class="nombre-slide">Ecommerse Growza</h3>
                        <p class="des">Ecommerse de venta de vegetales</p>
                        <p class="des">Tegnologías JavaScript | Bootstrap | LocalStorage | CSS y HTML | Java | Spring Boot | MySQL</p>
                        <a href="#">Ver repositorio</a>
                    </div>
                </div>
                <div class="slide-item" style="background-image: url('/assets/img/Ecommerse.png')">
                    <div class="slide-content">
                        <h3 class="nombre-slide">Wcommerse Growza</h3>
                        <p class="des">Ecommerse de venta de vegetales</p>
                        <p class="des">Tegnologías JavaScript | Bootstrap | LocalStorage | CSS y HTML | Java | Spring Boot | MySQL</p>
                        <a href="#">Ver repositorio</a>
                    </div>
                </div>
                </div>

            <div class="slider-nav">
                <button id="prev">‹</button>
                <button id="next">›</button>
            </div>
        </div>
    </div>
</section>