<section id="sectionBienvenida" class="container py-5">
    <div class="container bienvenida-content">
        <div class="titleBienvenida">
            <h2 id="titulo1" class="text-center titulo">Bienvenidos a Mi</h2>
            <h2 id="titulo2" class="text-center titulo">Portafolio</h2>
        </div>
        <div class="iconsBienvenida">
            <a href="https://github.com/Liw1030" target="_blank" id="iconGitHub" aria-label="GitHub" class="iconSquare"></a>
            <a href="https://www.linkedin.com/in/johana-usaquen/" target="_blank" id="iconLinkedin" aria-label="Linkedin" class="iconSquare"></a>
            <a href="/Public/pdf/Hoja de Vida Johana Usaquen.pdf" download="CV_Johana_Usaquen" id="iconCV" class="iconSquare">CV</a>
        </div>
    </div>
</section>