<section id="sectionConocimientos" class="seccion-conocimientos py-5">
    <div class="contenedor-conocimientos tarjeta-fondo">
        <h2 class="titulo-seccion">Conocimientos</h2>
        
        <div class="row g-4">
            <div class="col-6 col-md-3">
                <div class="habilidad-card">
                    <img src="/assets/img/file-html.png" alt="Logo de HTML y CSS" class="logo-habilidad">
                    <h3 class="nombre-habilidad">HTML & CSS</h3>
                    <p class="nivel-habilidad">Alto-Básico</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="habilidad-card">
                    <img src="/assets/img/file-js.png" alt="Logo de JavaScript" class="logo-habilidad">
                    <h3 class="nombre-habilidad">JavaScript</h3>
                    <p class="nivel-habilidad">Medio</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="habilidad-card">
                    <img src="/assets/img/hard-drives.png" alt="Logo de LocalStorage" class="logo-habilidad">
                    <h3 class="nombre-habilidad">LocalStorage</h3>
                    <p class="nivel-habilidad">Medio</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="habilidad-card">
                    <img src="/assets/img/file-py.png" alt="Logo de Python" class="logo-habilidad">
                    <h3 class="nombre-habilidad">Python</h3>
                    <p class="nivel-habilidad">Bajo-Básico</p>
                </div>
            </div>
            
            <div class="col-6 col-md-3">
                <div class="habilidad-card">
                    <img src="/assets/img/coffee.png" alt="Logo de Java" class="logo-habilidad">
                    <h3 class="nombre-habilidad">Java</h3>
                    <p class="nivel-habilidad">Medio-Básico</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="habilidad-card">
                    <img src="/assets/img/power.png" alt="Logo de Spring Boot" class="logo-habilidad">
                    <h3 class="nombre-habilidad">Spring Boot</h3>
                    <p class="nivel-habilidad">Bajo</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="habilidad-card">
                    <img src="/assets/img/paint-brush.png" alt="Logo de Bootstrap" class="logo-habilidad">
                    <h3 class="nombre-habilidad">Bootstrap</h3>
                    <p class="nivel-habilidad">Medio-Básico</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="habilidad-card">
                    <img src="/assets/img/git-branch.png" alt="Logo de Git" class="logo-habilidad">
                    <h3 class="nombre-habilidad">Git</h3>
                    <p class="nivel-habilidad">Medio-Básico</p>
                </div>
            </div>
        </div>
    </div>
</section>