<section id="sectionSobreMi" class="seccion-sobre-mi py-5">
    <div class="contenedor-sobre-mi">
        <div class="tarjeta-sobre-mi">
            <div class="contenido-tarjeta">
                <div class="texto-tarjeta">
                    <h5 class="titulo-tarjeta">✨Sobre Mí✨</h5>
                    <p class="parrafo-tarjeta">
                        Soy estudiante de Ingeniería de Sistemas y Técnica en Programación Web, con experiencia
                        en desarrollo frontend y soporte técnico.
                        Dominio HTML, CSS, JavaScript y manejo localStorage para crear experiencias interactivas
                        y persistentes. Trabajo con Git/GitHub y aplico metodologías ágiles como Scrum.
                        Tengo bases en Svelte y Vue, y me apasiona diseñar interfaces accesibles, funcionales y
                        con estilo propio. Me definen la adaptabilidad, el trabajo en equipo y la resolución
                        creativa de problemas.
                    </p>
                </div>
                <div class="foto-tarjeta">
                    <img src="/assets/img/FotoMia.jpg" class="imagen-perfil" alt="Foto de Johana">
                </div>
            </div>
        </div>
    </div>
</section>