<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styleSobreMi.css">
    <title>Sobre Mí</title>
</head>

<body>
    <section class="sectionSobreMi container py-5">
        <div class="container d-flex justify-content-center ">
            <div class="card mb-3" id="cardSobreMi">
                <div class="row g-0 align-items-center">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-center">✨Sobre Mí✨</h5>
                            <p class="card-text">
                                Soy estudiante de Ingeniería de Sistemas y Técnica en Programación Web, con experiencia
                                en desarrollo frontend y soporte técnico.
                                Domino HTML, CSS, JavaScript y manejo localStorage para crear experiencias interactivas
                                y persistentes. Trabajo con Git/GitHub y aplico metodologías ágiles como Scrum.
                                Tengo bases en Svelte y Vue, y me apasiona diseñar interfaces accesibles, funcionales y
                                con estilo propio. Me definen la adaptabilidad, el trabajo en equipo y la resolución
                                creativa de problemas.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center">
                        <img src="/Public/images/FotoMia.jpg" class="img-fluid rounded-circle" alt="Foto de Johana">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>