:root {
    --wisteria: #c8b1e4ff;
    --tekhelet: #532b88ff;
    --russian-violet: #2f184bff;
    --magnolia: #f4effaff;
    --amethyst: #9b72cfff;
    --size-tittle: 32px;
    --size-subtittle: 24px;
    --size-text: 16px;
    --font: 'Montserrat', san-serif;
}

div.container {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 1px 0px 10px var(--amethyst);
}


h2 {
    background: linear-gradient(135deg, rgb(0, 0, 0), #2f184b, #532b88, #caafeb, rgb(214, 189, 245));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 5em;
}


.iconsBienvenida {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#iconGitHub {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(/assets/img/github-logo.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--russian-violet);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

#iconLinkedin {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(/assets/img/linkedin-logo.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--russian-violet);
    border-radius: 50%;
}

#iconCV {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: var(--wisteria);
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    background-color: var(--russian-violet);
    border-radius: 50%;
}